<template lang="pug">
div(
  ref="resizeRef"
  class="flex flex-col w-full mb-6 pt-10 pb-10 pl-16 pr-16"
)
  svg(
    ref="svgRef"
    class="bg-slate-100 fill-transparent stroke-transparent overflow-visible"
    height="300"
  )
    g.x-axis
    g.y-axis
</template>

<script setup>
import { onMounted, ref, watchEffect } from "vue";
import { useResizeObserver } from "@/composables/resizeObserver";
import { useUpdateGraphDimensions } from "@/composables/updateGraph";
import { select } from "d3";

const props = defineProps({
  measureName: {
    type: String,
    required: true
  },
  data: {
    type: Array,
    required: true
  }
})

// create ref to be passed to D3 for DOM manipulation
const svgRef = ref();
const { resizeRef, resizeState } = useResizeObserver();

onMounted(() => {
  // pass ref of a DOM element to D3 when mounted
  const svg = select(svgRef.value);

  watchEffect(() => {
    const { width, height } = resizeState.dimensions;
    useUpdateGraphDimensions(width, height, svg, props.data);
  });
});
</script>
