<template lang="pug">
div(
  class="flex flex-col bg-white w-full mb-6 pt-8 pl-4 pr-4 shadow-xl rounded-lg"
)
  div(class="flex flex-col lg:flex-row justify-between items-center flex-wrap")
    p(class="flex lg:ml-4 text-lg font-bold block pt-3") {{ measureName }}
    div(class="flex flex-row lg:mr-4 pt-3")
      TimescaleChooser(
        :timescales="timescales"
        @update:selected-timescale="onTimescaleUpdate"
      )
  D3LineChart(
    :data="data"
    :measure-name="measureName"
  )
</template>
<script setup>
import D3LineChart from "@/components/graphs/D3LineChart";
import TimescaleChooser from "@/components/graphs/TimescaleChooser";
import { onMounted, ref, watch } from "vue";
import { useTelemetryGatherer } from "@/composables/getGraphData";
import { parseTimescale, Timescales } from "@/utils/timescales";
import { parseMeasurement, parseMeasurementIndex } from "@/utils/measurements";

const maxRtDataArraySize = 200

const props = defineProps({
  measureName: {
    type: String,
    required: true
  },
  rtData: {
    type: Object,
    required: true
  },
  id: {
    type: Number,
    required: true
  }
})

const data = ref([])
const timescales = ref([
  { id: `day-${props.id}`, value: Timescales.Day },
  { id: `week-${props.id}`, value: Timescales.Week },
  { id: `month-${props.id}`, value: Timescales.Month },
  { id: `year-${props.id}`, value: Timescales.Year },
  { id: `real-time-${props.id}`, value: Timescales.RealTime }
])
let period = ""

watch(props.rtData, () => {
  if (period === "RealTime") {
    if (data.value.length >= maxRtDataArraySize) {
      data.value.pop()
    }
    const measurementIndex = parseMeasurementIndex(props.measureName)
    const value = props.rtData.metrics[measurementIndex].value
    const timestamp = new Date(props.rtData.timestamp * 1000)
    data.value.unshift({ timestamp: timestamp, value: value })
  }
});

const onTimescaleUpdate = (updatedPeriod) => {
  period = updatedPeriod
  // console.log(period)
  if (period === "RealTime") {
    data.value = [0]
  } else {
    useTelemetryGatherer(
      data,
      parseMeasurement(props.measureName),
      parseTimescale(period)
    )
  }
}

onMounted(() => {
  onTimescaleUpdate(Timescales.Day)
})
</script>
