<template lang="pug">
form(
  v-for="timescale in timescales"
  :key="timescale.id"
  class="font-mono flex flex-col text-sm lg:text-base"
)
  label(
    :for="timescale.id"
    class="px-4 rounded-full cursor-pointer hover:bg-emerald-600 hover:text-white"
    :class="selectedTimescale === timescale.value ? 'bg-emerald-600 text-white': ''"
  ) {{ timescale.value }}
    input(
      :id="timescale.id"
      v-model="selectedTimescale"
      :value="timescale.value"
      type="radio"
      class="hidden"
      @input="updateTimescale($event.target.value)"
    )
</template>
<script setup>
import { ref } from "vue";

const props = defineProps({
  timescales: {
    type: Object,
    required: true
  }
})

const selectedTimescale = ref(props.timescales[0].value) // updated by v-model

const emit = defineEmits(["update:selectedTimescale"])

const updateTimescale = (value) => {
  emit("update:selectedTimescale", value)
}
</script>
