<template>
  <div>
    <a
      ref="btnDropdownRef"
      class="text-blueGray-500 block py-1 px-3 mx-5 hover:cursor-pointer z-50"
      @click="toggleDropdown($event)"
    >
      <i
        class="fas text-2xl z-50"
        :class="notifications.length > 0 ? 'fa-bell' : 'fa-bell-slash'"
      />
    </a>
    <div
      ref="popoverDropdownRef"
      class="bg-white text-black text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48 max-h-56 overflow-y-auto"
      :class="{
        hidden: !dropdownPopoverShow,
        block: dropdownPopoverShow
      }"
    >
      <ul
        v-for="notification in notifications"
        :key="notification"
      >
        <li class="text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-blueGray-700">
          <div class="flex justify-between w-full">
            <div class="w-full items-start justify-start flex flex-col">
              <span class="text-sm flex-row">
                {{ notification.status }}
              </span>
              <span class="text-xs flex-row">
                {{ notification.date }}
              </span>
            </div>
            <div>
              <i
                class="fas fa-trash-can ml-3 cursor-pointer p-3"
                @click="deleteNotification(notification)"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import {createPopper} from "@popperjs/core";
import {reactive} from "vue";
import {getNotify} from "@/router/socketRoutes";
import {del} from "@/composables/useAxios";
import {fireToast} from "@/composables/useToast";

export default {
  setup() {
    return reactive({
      notifications: []
    })
  },
  data() {
    return {
      alreadyCalled: false,
      dropdownPopoverShow: false,
    };
  },
  mounted() {
    getNotify(this.notifications);
  },
  methods: {
    toggleDropdown: function (event) {
      event.preventDefault();
      if (this.dropdownPopoverShow) {
        this.dropdownPopoverShow = false;
      } else {
        this.dropdownPopoverShow = true;
        createPopper(this.$refs.btnDropdownRef, this.$refs.popoverDropdownRef, {
          placement: "bottom-start"
        });
      }
    },
    deleteNotification: function(notification) {
      const body = this.makeBody(notification);
      del("/notifications", body).then((res) => {
          if(res.status === 200)
            this.notifications
                .splice(this.notifications.indexOf(notification), 1);
      }).catch((err) => {
        fireToast("error", err.response.data.error);
      })
    },
    makeBody: function(notification) {
      return {
        email: localStorage.getItem("email"),
        notification: notification,
      }
    }
  }
};
</script>
