<template>
  <div>
    <a
      ref="btnDropdownRef"
      class="text-blueGray-500 py-1 px-3"
      href="#"
      @click="toggleDropdown($event)"
    >
      <i class="fas fa-ellipsis-v" />
    </a>
    <div
      ref="popoverDropdownRef"
      class="bg-white text-base z-50 float-left py-2 list-none text-left rounded
       shadow-lg min-w-48"
      :class="{
        hidden: !dropdownPopoverShow,
        block: dropdownPopoverShow
      }"
    >
      <a
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap
        bg-transparent text-blueGray-700"
        @click="editSectionVisibility = true"
      >
        Modify
      </a>
      <a
        class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap
        bg-transparent text-blueGray-700"
      >
        Reset to default
      </a>
    </div>
  </div>
</template>
<script>
import { createPopper } from "@popperjs/core";

export default {
  data() {
    return {
      dropdownPopoverShow: false
    };
  },
  methods: {
    toggleDropdown: function (event) {
      event.preventDefault();
      if (this.dropdownPopoverShow) {
        this.dropdownPopoverShow = false;
      } else {
        this.dropdownPopoverShow = true;
        createPopper(this.$refs.btnDropdownRef, this.$refs.popoverDropdownRef, {
          placement: "bottom-start"
        });
      }
    }
  }
};
</script>
