<template>
  <div>
    <a
      ref="btnDropdownRef"
      v-click-away="closeDropdown"
      class="text-blueGray-500 block hover:cursor-pointer"
      @click="toggleDropdown($event)"
    >
      <div
        class="items-center h-12 inline-flex"
      >
        <i class="fas text-2xl fa-user" />
      </div>
    </a>
    <div
      ref="popoverDropdownRef"
      class="bg-white text-black py-2 rounded min-w-48 flex-row border-2 border-green-700"
      :class="{
        hidden: !dropdownPopoverShow,
        block: dropdownPopoverShow
      }"
    >
      <a
        class="text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-blueGray-700 cursor-pointer"
        @click="redirectToUserSettings"
      >
        User preferences
      </a>
      <div class="my-2 border border-solid border-blueGray-100" />
      <a
        class="text-sm py-2 px-4 font-normal w-full whitespace-nowrap bg-transparent text-blueGray-700 cursor-pointer"
        @click="logout"
      >
        Logout
      </a>
    </div>
  </div>
</template>

<script>
import {createPopper} from "@popperjs/core";

import image from "@/assets/logo.png";
import router from "@/router";
import {post} from "@/composables/useAxios";
import {fireToast} from "@/composables/useToast";

export default {
  data() {
    return {
      dropdownPopoverShow: false,
      image: image
    };
  },
  methods: {
    toggleDropdown: function (event) {
      event.preventDefault();
      if (this.dropdownPopoverShow) {
        this.dropdownPopoverShow = false;
      } else {
        this.dropdownPopoverShow = true;
        createPopper(this.$refs.btnDropdownRef, this.$refs.popoverDropdownRef, {
          placement: "bottom-start"
        });
      }
    },
    logout: async function () {
      post("/users/logout")
          .then((res) => {
            if (res.status === 200) {
              this.$cookies.remove("token");
              localStorage.clear();
              router.push({name: "login"});
            }
          })
          .catch((error) => {
            fireToast("error", error.response.data.error);
          });
    },
    redirectToUserSettings: function () {
      router.push({name: "userSettings"});
    },
    closeDropdown: function () {
      this.dropdownPopoverShow = false;
    }
  }
};
</script>
