<template lang="pug">
div(class="grid grid-cols-1 gap-4 pr-10 pl-10 mt-10")
  div()
    label(class="block uppercase text-xs font-bold mb-2") Name
    div()
      input(
        type="text"
        @input="updateName($event.target.value)"
        class="p-3 w-full bg-white rounded text-sm shadow mb-4"
        :class="v$.name.$error ? 'border-2 border-rose-600 mb-0' : ''"
      )
  ErrorMessage(:validation-status="v$.name")
  VueSelect(
    :options="options"
    @update:selected-option="updatePlanType"
  )
  TimeDateChooser(
    name="Start Time and Date"
    :show="repeat"
    @update:selected-time="updateStartTime"
    v-on="attachStartDateListener()"
  )
  TimeDateChooser(
    name="End Time and Date"
    :show="repeat"
    @update:selected-time="updateEndTime"
    v-on="attachEndDateListener()"
  )
  ErrorMessage(:validation-status="v$.startTime")
  label(
    v-if="repeat === 'Custom'"
    class="block uppercase text-xs font-bold mb-2"
  ) Weekdays
  div(
    class="shadow rounded p-5 gap-8 lg:grid-cols-2 grid-cols-1 grid"
    v-if="repeat === 'Custom'"
    :class="v$.weekDays.$error ? 'border-2 border-rose-600 mb-0' : ''"
  )
    div(class="flex flex-row" v-for="day in days" :key="day")
      WeekdaysCheckBoxes(
        :day="day"
        @update:selected-day="updateDay"
      )
  ErrorMessage(v-if="repeat === 'Custom'" :validation-status="v$.weekDays")
</template>
<script setup>
import ErrorMessage from "@/components/ErrorMessage";
import VueSelect from "@/components/VueSelect";
import TimeDateChooser from "@/components/irrigation/TimeDateChooser";
import WeekdaysCheckBoxes from "@/components/irrigation/WeekdaysCheckBoxes";
import { computed, ref } from "vue";
import { helpers, maxLength, required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import { getFormattedCurrentDate } from "@/utils/dateTimeUtils";

defineProps({
  options: {
    type: Array,
    default: () => {return ["Once", "Always", "Custom"]}
  },
  days: {
    type: Array,
    default: () => {return ["Monday", "Tuesday", "Wednesday", "Thursday",
      "Friday", "Saturday", "Sunday"]}
  }
})

const name = ref("")
const repeat = ref("Once")
const startTime = ref("00:00")
const startDate = ref(getFormattedCurrentDate())
const endTime = ref("00:00")
const endDate = ref(getFormattedCurrentDate())
const weekDays = ref([])
const requiredNameLength = ref(16)

const mustBeBeforeEndTime = () => {
  return new Date(`${startDate.value} ${startTime.value}`) < new Date(
    `${endDate.value} ${endTime.value}`)
}

let rules = computed(() => {
  let v = {
    name: {
      required,
      minLength: maxLength(requiredNameLength.value)
    },
    repeat: { required },
    startTime: {
      mustBeBeforeEndTime: helpers.withMessage(
        "Start datetime must be less than end datetime", mustBeBeforeEndTime) },
  }
  if (repeat.value === "Custom") {
    v.weekDays = { required };
  }
  return v
})

const v$ = useVuelidate(rules, { name, repeat, weekDays, startTime })
v$.value.$validate()

const emit = defineEmits(["update:form-update"])

const submitCandidatePlan = () => {
  if (!v$.value.$error) {
    const plan = {
      "name": name.value,
      "startTime": new Date(
        `${startDate.value} ${startTime.value}`).toISOString(),
      "endTime": new Date(
        `${endDate.value} ${endTime.value}`).toISOString(),
      "repeat": repeat.value,
      "userId": localStorage.getItem("email")
    }
    if (repeat.value === "Custom") plan["days"] = weekDays.value

    emit("update:form-update", plan)
  }
}

const updateName = (value) => {
  v$.value.name.$validate()
  name.value = value
  submitCandidatePlan()
}

const updateDay = (value) => {
  v$.value.weekDays.$validate()
  if(weekDays.value.includes(value)) {
    weekDays.value = weekDays.value.filter((v) => {
      return value !== v
    })
  } else {
    weekDays.value.push(value)
  }
  submitCandidatePlan()
}

const updateStartDate = (value) => {
  startDate.value = value
  submitCandidatePlan()
}

const updateEndDate = (value) => {
  endDate.value = value
  submitCandidatePlan()
}

const updateStartTime = (value) => {
  startTime.value = value
  submitCandidatePlan()
}

const updateEndTime = (value) => {
  endTime.value = value
  submitCandidatePlan()
}

const updatePlanType = (value) => {
  v$.value.repeat.$validate()
  repeat.value = value
  submitCandidatePlan()
}

const attachStartDateListener = () => {
  return repeat.value === 'Once' ?
    { 'update:selected-date': updateStartDate } : {}
}

const attachEndDateListener = () => {
  return repeat.value === 'Once' ?
    { 'update:selected-date': updateEndDate } : {}
}
</script>
