<template lang="pug">
VueModal(
  :showModal="showModal"
  @update:close-modal="close"
)
  template(v-slot:header) Edit Plan: {{ previousPlan.name }}
  template(v-slot:body)
    PlanForm(@update:form-update="onPlanEdit")
  template(v-slot:footer)
    button(
      type="button"
      class=`w-full inline-flex justify-center rounded-md border
      border-transparent shadow-sm px-4 py-2 bg-red-500
      text-white hover:bg-red-700 focus:outline-none
      sm:ml-3 sm:w-auto sm:text-sm`
      @click="close"
    ) Cancel edit
    button(
      type="button"
      class=`w-full inline-flex justify-center rounded-md border
      border-transparent shadow-sm px-4 py-2 bg-emerald-500
      text-white hover:bg-emerald-700 focus:outline-none
      sm:ml-3 sm:w-auto sm:text-sm`
      @click="update"
      ref="cancelButtonRef"
    ) Confirm edit
</template>

<script setup>
import VueModal from "@/components/VueModal";
import PlanForm from "@/components/irrigation/PlanForm";
import { ref } from "vue";

defineProps({
  previousPlan: {
    type: Object,
    default: undefined
  },
  newPlan: {
    type: Object,
    default: undefined
  },
  showModal: {
    type: Boolean,
    required: true
  }
})

const editedPlan = ref(undefined)

const emit = defineEmits(["update:close-modal", "update:confirm-edit"])

const onPlanEdit = (candidatePlan) => { editedPlan.value = candidatePlan }

const update = () => {
  emit("update:confirm-edit", editedPlan.value)
}

const close = () => { emit("update:close-modal") }
</script>
