<template lang="pug">
tr(
  class="w-full text-gray-700 whitespace-no-wrap border border-4 border-gray-100"
  :class="id % 2 === 0 ? 'bg-gray-100' : 'bg-white'"
)
  td.px-4.py-4 {{ id }}
  td.px-4.py-4 {{ plan.name }}
  td.px-4.py-4
    p(v-if="repeat === 'Once'") {{ startDate }}
    p {{ startTime }}
  td.px-4.py-4
    p(v-if="repeat === 'Once'") {{ endDate }}
    p {{ endTime }}
  td(
    class="px-4 py-4"
    v-if="repeat !== 'Custom'"
  ) {{ repeat }}
  td(
    class="px-4 py-4"
    v-if="repeat === 'Custom'"
  ) {{ weekDays }}
  td.py-4
    .flex.flex-col.items-center.pr-4.justify-left.pl-0
      button(
        class=`flex justify-center items-center h-12 relative w-16
               bg-emerald-500 text-white p-5 rounded shadow`
        type="button"
        @click="onEditBtnPress"
      )
        i.fas.fa-pen
      button(
        class=`flex justify-center items-center relative h-12 w-16 bg-red-500
               text-white mt-4 p-5 rounded shadow`
        type="button"
        @click="onRmBtnPress"
      )
        i.fas.fa-trash
</template>

<script setup>
import { computed, ref } from "vue";
import { getDate, getDays, getTime } from "@/utils/dateTimeUtils";
import { handleAuthentication } from "@/utils/authUtils";
import { del } from "@/composables/useAxios";

const props = defineProps({
  plan : {
    type: Object,
    required: true
  },
  id: {
    type: Number,
    required: true
  }
})

const deleted = ref(false)

const startDate = computed(() => {return getDate(props.plan.startTime)})

const startTime = computed(() => {return getTime(props.plan.startTime)})

const endDate = computed(() => {return getDate(props.plan.endTime)})

const endTime = computed(() => {return getTime(props.plan.endTime)})

const repeat = computed(() => {
  return props.plan.repeat === "custom" ?
    getDays(props.plan.days) : props.plan.repeat
})

const weekDays = computed(() => {return getDays(props.plan.days)})

const emit = defineEmits(
  ["update:edit-plan","update:delete-plan"]
)

const onEditBtnPress = () => {
  emit("update:edit-plan", props.plan)
}

const onRmBtnPress = () => {
  del(`/irrigationPlans/${props.plan._id}`)
    .then(res => {
      if (res.status === 200) {
        emit("update:delete-plan", props.plan._id)
      }
    })
    .catch(err => handleAuthentication(err))
}
</script>
