<template lang="pug">
label(class="block uppercase text-xs font-bold mb-2") {{ name }}
div(
  class="flex justify-between grid gap-8 grid-cols-1"
  :class="show !== 'Once' ? 'grid-cols-1' : 'lg:grid-cols-2'"
)
  div()
    input(
      type="time"
      v-model="time"
      class="p-3 w-full bg-white rounded text-sm shadow mb-4"
      @input="emitTimeChange($event.target.value)"
      :class="v$.time.$error ? 'border-2 border-rose-600 mb-0' : ''"
    )
    ErrorMessage(:validation-status="v$.time")
  div(v-if="show === 'Once'")
    input(
      type="date"
      v-model="date"
      class="p-3 w-full bg-white rounded text-sm shadow mb-4"
      @input="emitDateChange($event.target.value)"
      :class="v$.date.$error ? 'border-2 border-rose-600 mb-0' : ''"
    )
    ErrorMessage(:validation-status="v$.date")
</template>

<script setup>
import ErrorMessage from "@/components/ErrorMessage";
import { computed, ref } from "vue";
import { required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";

const props = defineProps({
  name: {
    type: String,
    required: true
  },
  show: {
    type: String,
    required: true
  }
})

const time = ref("00:00")
const date = ref("")

let rules = computed(() => {
    let v = { time: { required } }
    if (props.show === "Once") {
      v.date = { required };
    }
    return v
})

const v$ = useVuelidate(rules, { date, time })

const emit = defineEmits(
  ["update:selected-time","update:selected-date"]
)

const emitTimeChange = (selectedOption) => {
  v$.value.time.$validate()
  emit("update:selected-time", selectedOption)
}

const emitDateChange = (selectedOption) => {
  v$.value.date.$validate()
  emit("update:selected-date", selectedOption)
}
</script>
