<template lang="pug">
input(
  type="checkbox"
  :id="day"
  @input="emitDaysChange"
  :name="day"
  class="bg-white w-6 rounded text-sm"
)
label(class="pl-4" :for="day") {{ day }}
</template>

<script setup>
const props = defineProps({
  day: {
    type: String,
    required: true
  }
})

const emit = defineEmits(["update:selected-day"])

const emitDaysChange = () => {
  emit("update:selected-day", props.day)
}
</script>
