@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    padding: 0.75rem;
    background: white;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    margin-bottom: 1.75rem;
}