<template>
  <div
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg
     rounded-lg bg-blueGray-100 border-0"
  >
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0 bg-white rounded-t">
      <form>
        <userInformation
          :email="actual.email"
          :name="actual.name"
          :surname="actual.surname"
        />

        <hr class="mt-6 border-b-1 border-blueGray-300">

        <editEmail @update-user-info="(res) => setUserInfo(res)" />

        <hr class="mt-6 border-b-1 border-blueGray-300">

        <editPassword
          :password="actual.password"
          @update-user-info="(res) => setUserInfo(res)"
        />

        <hr class="mt-6 border-b-1 border-blueGray-300">

        <editNameSurname
          :name="actual.name"
          :surname="actual.surname"
          @update-user-info="(res) => setUserInfo(res)"
        />
      </form>
    </div>
  </div>
</template>

<script>
import {get} from "@/composables/useAxios";
import UserInformation from "@/components/cards/userSettings/UserInformation";
import EditEmail from "@/components/cards/userSettings/EditEmail";
import EditPassword from "@/components/cards/userSettings/Edit-Password";
import EditNameSurname from "@/components/cards/userSettings/Edit-NameSurname";

export default {
  components: {
    userInformation: UserInformation,
    editEmail: EditEmail,
    editPassword: EditPassword,
    editNameSurname: EditNameSurname
  },
  data() {
    return {
      actual: {
        email: "",
        password: "",
        name: "",
        surname: ""
      },
    };
  },
  mounted() {
    const email = localStorage.getItem("email");
      get(
          `/users/${email}`,
      ).then((res) => {
        if (res.status === 200) {
          this.actual.email = res.data.email;
          this.actual.password = res.data.password;
          this.actual.name = res.data.name;
          this.actual.surname = res.data.surname;
        }
      });
  },
  methods: {
    setUserInfo: function (res) {
      this.actual.email = res.data.email;
      this.actual.password = res.data.password;
      this.actual.name = res.data.name;
      this.actual.surname = res.data.surname;
    },
  }
};
</script>
