<template>
  <div
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
  >
    <div class="rounded-t mb-0 px-4 py-3 border-0">
      <div class="flex flex-wrap items-center">
        <div
          class="flex px-4 max-w-full flex-grow flex-1"
        >
          <h3 class="font-semibold text-lg 'text-blueGray-700'">
            Esp Settings
          </h3>
        </div>
        <div
          class="flex justify-end px-4"
        >
          <button
            v-if="isUserAdmin()"
            class="bg-emerald-500 text-white font-bold uppercase text-xs px-4 py-2 rounded shadow mr-2"
            type="button"
            @click="resetToDefault"
          >
            Reset to default
          </button>
          <button
            v-if="editSectionVisibility"
            class="bg-emerald-500 text-white font-bold uppercase text-xs px-4 py-2 rounded shadow mr-2"
            type="button"
            @click="editSectionVisibility = !editSectionVisibility"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
    <div class="block w-full overflow-x-auto">
      <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th
              class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
            >
              Name
            </th>
            <th
              class="bg-blueGray-50 text-blueGray-500 border-blueGray-100 px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            >
              Value
            </th>
            <th
              class="bg-blueGray-50 text-blueGray-500 border-blueGray-100 px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            >
              Default Value
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
            >
              <i class="h-12 w-12 fas fa-water text-2xl border rounded-full p-2 text-center" />
              <span class="ml-3 font-bold text-blueGray-600"> Water Flow </span>
            </th>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ actual.actualWaterFlow }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              HALF
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
            >
              <div
                v-click-away="closeDropdownWaterFlow"
              >
                <a
                  v-if="isUserAdmin()"
                  ref="btnDropdownWaterFlow"
                  href="#"
                  class="text-blueGray-500 py-1 px-3"
                  @click="
                    toggleDropdown(
                      $event,
                      $refs.btnDropdownWaterFlow,
                      $refs.popoverDropdownWaterFlow
                    )
                  "
                >
                  <i class="fas fa-ellipsis-v" />
                </a>
                <div
                  ref="popoverDropdownWaterFlow"
                  class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                  :class="{
                    hidden: !dropdownPopoverShowWaterFlow,
                    block: dropdownPopoverShowWaterFlow
                  }"
                >
                  <a
                    class="hover: cursor-pointer text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                    @click="makeEditSectionVisible('waterFlow')"
                  >
                    Modify
                  </a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
            >
              <i class="h-12 w-12 fas fa-clock text-2xl border rounded-full p-2 text-center" />
              <span class="ml-3 font-bold text-blueGray-600">
                Data Gathering Frequency
              </span>
            </th>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ actual.actualDataGathering }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              each_second
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
            >
              <div v-click-away="closeDropdownDataGathering">
                <a
                  v-if="isUserAdmin()"
                  ref="btnDropdownDataGathering"
                  class="text-blueGray-500 py-1 px-3"
                  href="#"
                  @click="
                    toggleDropdown(
                      $event,
                      $refs.btnDropdownDataGathering,
                      $refs.popoverDropdownDataGathering
                    )
                  "
                >
                  <i class="fas fa-ellipsis-v" />
                </a>
                <div
                  ref="popoverDropdownDataGathering"
                  class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                  :class="{
                    hidden: !dropdownPopoverShowDataGathering,
                    block: dropdownPopoverShowDataGathering
                  }"
                >
                  <a
                    class="hover: cursor-pointer text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                    @click="makeEditSectionVisible('dataGatheringFreq')"
                  >
                    Modify
                  </a>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
            >
              <i class="h-12 w-12 fas fa-droplet text-2xl border rounded-full p-2 text-center" />
              <span class="ml-3 font-bold text-blueGray-600">
                Soil Humidity Threshold
              </span>
            </th>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ actual.actualSoilHumidity }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              555
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
            >
              <div v-click-away="closeDropdownSoilHumidity">
                <a
                  v-if="isUserAdmin()"
                  ref="btnDropdownSoilHumidity"
                  href="#"
                  class="text-blueGray-500 py-1 px-3"
                  @click="
                    toggleDropdown(
                      $event,
                      $refs.btnDropdownSoilHumidity,
                      $refs.popoverDropdownSoilHumidity
                    )
                  "
                >
                  <i class="fas fa-ellipsis-v" />
                </a>
                <div
                  ref="popoverDropdownSoilHumidity"
                  class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                  :class="{
                    hidden: !dropdownPopoverShowSoilHumidity,
                    block: dropdownPopoverShowSoilHumidity
                  }"
                >
                  <a
                    class="hover: cursor-pointer text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                    @click="makeEditSectionVisible('soilHumidityThreshold')"
                  >
                    Modify
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <CardEditEspSettings
    v-if="editSectionVisibility"
    :value="actualValue"
    @close="editSectionVisibility = false"
    @update="showSettings"
  />
</template>
<script>
import { createPopper } from "@popperjs/core";
import logo from "@/assets/logo.png";
import CardEditEspSettings from "@/components/cards/CardEditEspSettings";
import {get} from "@/composables/useAxios";
import {fireToast} from "@/composables/useToast";

export default {
  components: {
    CardEditEspSettings
  },
  data() {
    return {
      logo,
      actualValue: "",
      editSectionVisibility: false,
      dropdownPopoverShowWaterFlow: false,
      dropdownPopoverShowDataGathering: false,
      dropdownPopoverShowSoilHumidity: false,
      actual: {
        actualWaterFlow: "",
        actualDataGathering: "",
        actualSoilHumidity: ""
      },
    };
  },
  mounted() {
    this.showSettings();
  },
  methods: {
    toggleDropdown: function (event, ref, popOver) {
      event.preventDefault();
      switch (ref) {
        case this.$refs.btnDropdownWaterFlow:
          this.dropdownPopoverShowWaterFlow =
              !this.dropdownPopoverShowWaterFlow;
          break;
        case this.$refs.btnDropdownDataGathering:
          this.dropdownPopoverShowDataGathering =
              !this.dropdownPopoverShowDataGathering;
          break;
        case this.$refs.btnDropdownSoilHumidity:
          this.dropdownPopoverShowSoilHumidity =
              !this.dropdownPopoverShowSoilHumidity;
          break;
      }
      createPopper(ref, popOver, {
        placement: "bottom-start"
      });
    },
    closeDropdownWaterFlow: function () {
      this.dropdownPopoverShowWaterFlow = false;
    },
    closeDropdownDataGathering: function () {
      this.dropdownPopoverShowDataGathering = false;
    },
    closeDropdownSoilHumidity: function () {
      this.dropdownPopoverShowSoilHumidity = false;
    },
    makeEditSectionVisible: function (value) {
      this.closeDropdownWaterFlow();
      this.closeDropdownSoilHumidity();
      this.closeDropdownDataGathering();
      this.editSectionVisibility = true;
      this.actualValue = value;
    },
    showSettings: function () {
      get("/settings")
          .then((res) => {
            if (res.status === 200) {
              this.setSettings(res);
            }
          });
    },
    setSettings: function (res) {
      this.actual.actualWaterFlow = res.data[0].value;
      this.actual.actualDataGathering = res.data[1].value;
      this.actual.actualSoilHumidity = res.data[2].value;
    },
    resetToDefault: function () {
      get("/settings/reset")
          .then((res) => {
            if (res.status === 201) {
              this.showSettings(res)
            }
          })
          .catch((error) => {
            fireToast("error", error.response.data.error);
          });
    },
    isUserAdmin: function () {
      const auth = localStorage.getItem("auth");
      return auth === "admin";
    }
  }
};
</script>
