<template>
  <div
    class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6
    shadow-xl rounded-lg mt-16"
  >
    <div class="px-6">
      <div class="text-center mt-12">
        <h3
          class="text-xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
        >
          {{ name }} {{ surname }}
        </h3>
        <div class="mb-2 text-blueGray-600 mt-10">
          <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400" />
          {{ email }}
        </div>
      </div>
      <div class="mt-10 border-t border-blueGray-200 text-center" />
      <div class="text-center my-5">
        <button
          class="bg-emerald-500 text-white mb-4 mt-3 font-bold uppercase
              text-xs px-4 py-2 rounded shadow mr-1"
          type="button"
          @click="deleteAccount"
        >
          Delete account
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import image from "@/assets/logo.png";
import {get, del} from "@/composables/useAxios";
import router from "@/router";
import {fireToast} from "@/composables/useToast";

export default {
  data() {
    return {
      image,
      name: "",
      surname: "",
      email: "",
    };
  },
  mounted() {
    this.showUserInfo();
  },
  methods: {
    showUserInfo: function () {
      const email = localStorage.getItem("email");
      get(
        `/users/${email}`
      ).then((res) => {
        if (res.status === 200) {
          this.setUserInfo(res);
        }
      });
    },
    setUserInfo: function (res) {
      this.email = res.data.email;
      this.name = res.data.name;
      this.surname = res.data.surname;
    },
    deleteAccount: function () {
      const email = localStorage.getItem("email");
      del(`/users/${email}`)
          .then((res) => {
            if (res.status === 200) {
              this.$cookies.remove("token")
              router.push('/login')
              localStorage.clear();
            }
          }).catch(err => {
            fireToast("error", err.response.data.error);
          })
    },
  }
};
</script>
