<template>
  <div
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-2"
  >
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0 bg-white rounded-t">
      <form>
        <div class="rounded-t bg-white mb-4">
          <div class="flex justify-between">
            <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
              Edit {{ value }} value
            </h6>
            <button
              class="bg-emerald-500 text-white mb-4 mt-3 font-bold uppercase text-xs px-4 py-2 rounded shadow mr-2"
              type="button"
              @click="updateValue"
            >
              Confirm
            </button>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                New Value
              </label>
              <VueSelect
                v-show="!soilHumidity"
                v-model="newValue"
                :options="options"
                close-on-select
                :min="1"
              />
              <input
                v-show="soilHumidity"
                v-model="soilHumidityValue"
                type="text"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Insert value"
              >
              <a
                v-if="v$.soilHumidityValue.$error"
                class="text-center text-red-700 text-xs"
              >{{ v$.soilHumidityValue.$errors[0].$message }}</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import VueSelect from "vue-next-select";
import "vue-next-select/dist/index.min.css";
import { ref } from "vue";

import useVuelidate from "@vuelidate/core";
import { between, required } from "@vuelidate/validators";
import {put} from "@/composables/useAxios";
import {fireToast} from "@/composables/useToast";

export default {
  name: "CardEditEspSettings",
  components: {
    VueSelect
  },
  props: {
    value: {
      default: "",
      type: String
    }
  },
  emits: ['update', 'close'],
  setup() {
    let v$ = useVuelidate();
    let newValue = null;
    let options = ref([]);
    return {
      newValue,
      options,
      v$
    };
  },
  data() {
    return {
      soilHumidity: false,
      soilHumidityValue: "",
      soilHumidityThreshold: {
        minValue: "375",
        maxValue: "735"
      }
    };
  },
  validations() {
    return {
      soilHumidityValue: {
        required,
        between: between(
            this.soilHumidityThreshold.minValue,
            this.soilHumidityThreshold.maxValue
        )
      }
    };
  },
  mounted() {
    this.v$.$validate();
    switch (this.value) {
      case "waterFlow":
        this.soilHumidity = false;
        this.options.length = 0;
        this.options.push("HALF", "ONE_QUARTER", "THREE_QUARTER", "FULL");
        break;
      case "dataGatheringFreq":
        this.soilHumidity = false;
        this.options.length = 0;
        this.options.push(
            "each_second",
            "each_minute",
            "each_quarter",
            "each_hour",
            "each_day"
        );
        break;
      case "soilHumidityThreshold":
        this.soilHumidity = true;
        break;
    }
    document.querySelector("#single-select");
  },
  methods: {
    updateValue: function () {
      if (this.soilHumidity) {
        this.v$.soilHumidityValue.$validate();
        if (!this.v$.soilHumidityValue.$error) {
          this.makeRequest();
        }
      } else {
        this.makeRequest();
      }
    },
    makeRequest: function () {
      const body = this.makeBody();
      put(
          `/settings/esp8266/${this.value}`,
          body
      ).then((res) => {
        if (res.status === 200) {
          this.$emit("update");
          this.$emit("close");
        }
      }).catch((error) => {
        fireToast("error", error.response.data.error);
      });
    },
    makeBody: function () {
      if (this.soilHumidity)
        return {
          name: this.value,
          value: this.soilHumidityValue
        };
      else
        return {
          name: this.value,
          value: this.newValue
        };
    }
  }
};
</script>
