<template lang="pug">
div
  BaseSidebar
  div(class="flex flex-col relative md:ml-64")
    BaseNavbar(:state="currentState")
    BaseHeader
    div(class="px-4 md:px-10 mx-auto w-full")
      RouterView
      BaseFooter
</template>
<script setup>
import BaseHeader from "@/components/layouts/BaseHeader.vue";
import BaseSidebar from "@/components/layouts/BaseSidebar.vue";
import BaseFooter from "@/components/layouts/BaseFooter";
import BaseNavbar from "@/components/layouts/BaseNavbar";

import { ref } from "vue";
import { useStateUpdater } from "@/router/socketRoutes";

let currentState = ref("READY");

useStateUpdater(currentState);
</script>
