<template lang="pug">
nav(class=`absolute top-0 left-0 w-full bg-transparent md:flex-row
            md:flex-nowrap md:justify-start flex items-center p-4 md:z-10`
)
  div(class=`w-full mx-auto items-center flex justify-between md:flex-nowrap
             flex-wrap md:px-10 px-4`
  )
    a(class="text-white text-sm uppercase hidden lg:inline-block font-semibold")
      | Dashboard - ESP: {{ state }}

    ul(class="flex-col md:flex-row items-center hidden md:flex text-white")
      NotificationDropdown
      UserDropdown
</template>

<script setup>
import UserDropdown from "@/components/drop-downs/UserDropdown.vue";
import NotificationDropdown from "@/components/drop-downs/NotificationDropdown";
import {onMounted} from "vue";
defineProps ({
  state: {
    required: true,
    type: String
  }
})
</script>
