<template lang="pug">
nav(class=`md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto
           md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white
           flex flex-wrap items-center justify-between relative md:w-64 z-10
           py-4 px-6`
)
  div(class=`md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0
             flex flex-wrap items-center justify-between w-full mx-auto`
  )
    button(
      class=`cursor-pointer text-black md:hidden px-3 py-1 text-xl
             bg-transparent rounded border border-solid
             border-transparent`
      type="button"
      @click="toggleCollapseShow('bg-white py-3 px-6')"
    )
      i.fas.fa-bars

    router-link(
      class=`md:block text-left md:pb-2 mr-0 inline-block
             whitespace-nowrap text-lg uppercase font-bold p-4 px-0`
      to="/dashboard"
    ) Smart Garden

    ul(class="md:hidden items-center flex flex-wrap list-none")
      li.inline-block.relative.text-black
        NotificationDropdown
      li.inline-block.relative.text-black
        UserDropdown

    div(
      class=`md:flex md:flex-col md:items-stretch md:opacity-100 md:relative
             md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40
             overflow-y-auto overflow-x-hidden h-auto items-center
             flex-1 rounded`
      :class="collapseShow"
    )
      SidebarContent(@update:toggle-sidebar="toggleCollapseShow")
</template>

<script setup>
import { ref } from "vue";
import NotificationDropdown from "@/components/drop-downs/NotificationDropdown.vue";
import UserDropdown from "@/components/drop-downs/UserDropdown.vue";
import SidebarContent from "@/components/sidebar/SidebarContent";

let collapseShow = ref("hidden")

const toggleCollapseShow = (classes) => {
  collapseShow.value = classes
}
</script>
