<template lang="pug">
form(
  class="bg-white rounded-lg shadow-lg p-8 mx-4 flex flex-col"
  @submit.prevent
)
  h6.flex.text-lg.font-bold.block.pt-3.pl-8.pb-3 Create a new irrigation plan
  PlanForm(@update:form-update="onPlanEdit")
  .flex.flex-row-reverse.items-center.pr-10.p-5.mt-3
    button(
      class=`bg-emerald-500 text-white font-bold uppercase text-xs p-3 rounded
             shadow`
      type="submit"
      @click="submitPlan"
    ) Confirm
</template>
<script setup>
import { ref } from "vue";
import PlanForm from "@/components/irrigation/PlanForm";
import { post } from "@/composables/useAxios";
import { handleAuthentication } from "@/utils/authUtils";
import useVuelidate from "@vuelidate/core";
import { getFormattedCurrentDate } from "@/utils/dateTimeUtils";
import { fireToast } from "@/composables/useToast";

const createdPlan = ref(undefined)
const v$ = useVuelidate()

const onPlanEdit = (candidatePlan) => { createdPlan.value = candidatePlan }

const submitPlan = () => {
  v$.value.$validate()
  if(createdPlan.value !== undefined && !v$.value.$error) {
    if(createdPlan.value.repeat !== "Once") {
      createdPlan.value.startDate = getFormattedCurrentDate()
      createdPlan.value.endDate = getFormattedCurrentDate()
    }
    post("/irrigationPlans", createdPlan.value)
      .then(res => {
        if (res.status === 201) {
          fireToast("success", "Plan created successfully");
        }
      })
      .catch(err => handleAuthentication(err))


  } else {
    console.log("plan not valid")
  }
}
</script>
