<template lang="pug">
ul(v-for="measure in measureNames" :key="measure")
  li.text-sm.py-2.px-4.font-normal.block.w-full.bg-transparent
    LineChart(
      v-if="measure !== 'Tank Level'"
      :id="getId()"
      :rt-data="rtTelemetryData"
      :measure-name="measure"
    )
    LineChart(
      v-if="measure === 'Tank Level'"
      :id="getId()"
      :rt-data="rtTankLevelData"
      :measure-name="measure"
    )
</template>
<script setup>
import LineChart from "@/components/graphs/LineChart";
import { Measurements } from "@/utils/measurements";
import { ref } from "vue";
import { useRealTimeDataGatherer } from "@/router/socketRoutes";

let id = 0
const getId = () => {
  return id++;
}

defineProps({
  measureNames: {
    type: Array,
    default: () => {
      return Object.values(Measurements)
    }
  }
})

const rtTelemetryData = ref({})
const rtTankLevelData = ref({})
useRealTimeDataGatherer(rtTelemetryData, rtTankLevelData)
</script>
