<template>
  <div class="flex flex-wrap">
    <div class="w-full mb-12 px-4">
      <CardEspSettings />
    </div>
  </div>
</template>
<script>
import CardEspSettings from "@/components/cards/CardEspSettings";

export default {
  components: {
    CardEspSettings
  }
};
</script>
