<template>
  <div class="h-screen flex flex-col items-center justify-center bg-gray-500">
    <h1 class="text-3xl mb-20 text-gray-800 decoration-4 overline sm:text-4xl md:text-5xl lg:text-6xl xl:text-6xl 2xl:text-7xl">
      Smart garden Dashboard
    </h1>
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Username
        </label>
        <input
          id="username"
          v-model="input.username"
          class="border rounded py-2 px-3
          text-gray-700"
          type="text"
          placeholder="Username"
        >
      </div>
      <div class="mb-6">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="password"
        >
          Password
        </label>
        <div class="relative w-full">
          <div
            class="absolute mt-1.5 right-0 flex items-center px-2"
          >
            <label
              class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono
                  cursor-pointer"
              @click="passwordToggle"
            >{{ passwordVisibility }}</label>
          </div>
          <input
            v-model="input.password"
            required
            type="password"
            placeholder="Password"
            class="border rounded py-2 px-3
          text-gray-700 mb-3 js-password"
          >
        </div>
      </div>
      <div class="flex items-center justify-between mb-4">
        <button
          class="bg-blue-500 hover:bg-blue-700 w-full text-white font-bold py-2 px-4
          rounded focus:outline-none focus:shadow-outline"
          type="button"
          @click="login"
        >
          Sign In
        </button>
      </div>
    </form>
    <a
      class="button-hover hover:bg-blue-700 hover: hover:text-white
      hover:cursor-pointer hover:rounded hover: px-4 hover: py-2"
      @click="redirectToRegistration"
    >Not registered ? Press here
    </a>
  </div>
</template>
<script>
import router from "@/router";
import { cookieDuration } from "@/env";
import { post } from "@/composables/useAxios";
import {fireToast} from "@/composables/useToast";

export default {
  components: {},
  props: {
    label: {type: String, default: "Not registered ? Press here."}
  },
  metaInfo: {
    title: "Smart Garden Dashboard"
  },
  data() {
    return {
      input: {
        username: "",
        password: ""
      },
      passwordVisibility: "show",
    };
  },
  methods: {
    redirectToRegistration: function () {
      router.push("/register")
    },
    login: function () {
      post("/users/login", {
        email: this.input.username,
        password: this.input.password
      })
        .then((res) => {
          if (res.status === 201) {
            localStorage.clear();
            this.$cookies.set("token", res.data.token, cookieDuration);
            localStorage.setItem("email", res.data.email);
            localStorage.setItem("auth", res.data.authorization);
            router.push({name: "graphs"});
          }
        })
        .catch((error) => {
          fireToast("error", error.response.data.error);
        });
    },
    passwordToggle: function () {
      const password = document.querySelector('.js-password')
      if (password.type === 'password') {
        password.type = 'text'
        this.passwordVisibility = 'hide'
      } else {
        password.type = 'password'
        this.passwordVisibility = 'show'
      }
    }
  }
};
</script>
<style></style>
