<template lang="pug">
div(class=`bg-white rounded-lg shadow-lg py-6 mb-4 px-8 grid grid-cols-2
           items-center gap-5 mx-4`)
  button(
    class=`flex justify-center items-center h-12 relative w-full bg-emerald-500
           text-white p-5 rounded shadow hover:cursor-pointer
           hover:bg-emerald-700`
    type="button"
    @click="manageManualIrrigation(true)"
  ) Start manual irrigation
  button(
    class=`flex justify-center items-center h-12 relative w-full bg-red-500
           text-white p-5 rounded shadow hover:cursor-pointer hover:bg-red-700`
    type="button"
    @click="manageManualIrrigation(false)"
  ) Stop manual irrigation
PlanEditModal(
  :previous-plan="selectedPlan"
  :new-plan="editedPlan"
  :show-modal="showModal"
  @update:close-modal="onCloseModal"
  @update:confirm-edit="onEditModal"
)
.bg-white.rounded-lg.shadow-lg.py-6.mx-4
  .block.overflow-x-auto.mx-6
    table.w-full.text-left.rounded-lg
      thead(
        v-if="plans.length > 0",
        class="tr text-gray-800 border border-4 border-gray-100"
      )
          th.px-4.py-3 #
          th.px-4.py-3 Name
          th.px-4.py-3 Start Time
          th.px-4.py-3 End Time
          th.px-4.py-3 Repeat
          th.px-4.py-3 Action
      tbody(
        v-for="plan in plans"
        :key="plan._id"
        class="border border-4 border-gray-100"
      )
        PlansVisualizer(
          :id="getId()"
          :plan="plan"
          @update:delete-plan="onPlanDelete"
          @update:edit-plan="onPlanEdit"
      )
      p(
        v-if="plans.length === 0",
        class="text-center font-bold text-3xl"
      ) No plans created yet
</template>
<script setup>
import PlansVisualizer from "@/components/irrigation/PlansVisualizer";
import { ref } from "vue";
import { usePlanGatherer } from "@/composables/getIrrigationPlansData";
import { useCookies } from "vue3-cookies";
import { put } from "@/composables/useAxios";
import { handleAuthentication } from "@/utils/authUtils";
import PlanEditModal from "@/components/irrigation/PlanEditModal";
import useVuelidate from "@vuelidate/core";

let tableId = 0
const getId = () => {
  return tableId++;
}
const plans = ref({})
const showModal = ref(false)
const selectedPlan = ref(undefined)
const editedPlan = ref(undefined)
const { cookies } = useCookies();
const req = usePlanGatherer()
const v$ = useVuelidate()

req.then(res => {
  if(res.data !== undefined) {
    plans.value = res.data
  }
}).catch(err => {handleAuthentication(err)})

const manageManualIrrigation = (disabled) =>  {
  const url = disabled ? "startManualIrrigation" : "stopManualIrrigation"
  const email = localStorage.getItem("email");
  const req = put(`/commands/${url}/${email}`);
  req.catch(err => {handleAuthentication(err)})
}

const onPlanDelete = (planId) => {
  tableId = 0
  plans.value = plans.value.filter((v) => { return v._id !== planId })
}

const onPlanEdit = (plan) => {
  tableId = 0 // refresh table ids
  selectedPlan.value = plan
  showModal.value = true
}

const onCloseModal = () => {
  tableId = 0 // refresh table ids
  showModal.value = false
}

const onEditModal = (newPlan) => {
  tableId = 0 // refresh table ids
  v$.value.$validate()
  if (newPlan !== undefined && !v$.value.$error) {
    showModal.value = false
    
    const oldPlanIndex = plans.value.findIndex(
      p => p._id === selectedPlan.value._id
    )
    const oldPlan = plans.value[oldPlanIndex]
    newPlan._id = oldPlan._id
    plans.value[oldPlanIndex] = newPlan

    put(`/irrigationPlans`, newPlan)
      .catch(err => { handleAuthentication(err); })
  } else {
    console.log("plan not valid")
  }
}
</script>
