<template>
  <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div
      class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3"
    >
      <h3 class="text-2xl font-bold text-center">
        Register here
      </h3>
      <form action="">
        <div class="mt-4">
          <div>
            <label
              class="block"
            >Email</label>
            <input
              v-model="input.email"
              required
              type="email"
              placeholder="Email"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
            >
          </div>
          <div class="mt-4">
            <label
              class="block"
            >Password</label>
            <div class="relative w-full">
              <div
                class="absolute inset-y-0 mt-2 right-0 flex items-center px-2"
              >
                <label
                  class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono
                  cursor-pointer"
                  @click="passwordToggle"
                >{{ passwordVisibility }}</label>
              </div>
              <input
                v-model="input.password"
                required
                type="password"
                placeholder="Password"
                class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600 js-password"
              >
            </div>
          </div>
          <div class="mt-4">
            <label class="block">Name</label>
            <input
              v-model="input.name"
              type="text"
              placeholder="Name"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
            >
          </div>
          <div class="mt-4">
            <label class="block">Surname</label>
            <input
              v-model="input.surname"
              type="text"
              placeholder="Surname"
              class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600"
            >
          </div>
          <div class="mb-4 flex">
            <button
              class="w-full px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900"
              type="button"
              @click="registerNewUser"
            >
              Create Account
            </button>
          </div>
          <a class="text-center text-red-700 font-bold">{{ errorMessage }}</a>
          <div class="mt-6 text-center text-grey-dark">
            Already have an account?
          </div>
          <div class="mt-2 text-center text-grey-dark">
            <a
              class="text-blue-600 hover:underline"
              href="#"
              @click="redirectToLoginPage"
            >
              Sign in
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import router from "@/router";
import { post } from "@/composables/useAxios";
import { fireToast } from "@/composables/useToast";

export default {
  components: {},
  data() {
    return {
      errorMessage: "",
      input: {
        email: "",
        password: "",
        name: "",
        surname: ""
      },
      passwordVisibility: "show",
    };
  },
  methods: {
    redirectToLoginPage: function () {
      router.push({name: "login"});
    },
    checkParameters: function () {
      return this.input.email.length === 0 || this.input.password.length === 0;
    },
    checkNameSurname: function () {
      return this.input.name.length === 0 || this.input.surname.length === 0;
    },
    makeBody: function () {
      if (!this.checkNameSurname()) {
        return {
          email: this.input.email,
          password: this.input.password,
          name: this.input.name,
          surname: this.input.surname
        };
      } else
        return {
          email: this.input.email,
          password: this.input.password
        };
    },
    registerNewUser: async function () {
      if (!this.checkParameters()) {
        const reqBody = this.makeBody();
        post("/users", reqBody)
          .then((res) => {
            if (res.status === 201) {
              router.push({ name: "login" });
            }
          })
          .catch((error) => {
            fireToast("error", error.response.data.error);
          });
      } else this.errorMessage = "Insert correct parameters";
    },
    passwordToggle: function () {
      const password = document.querySelector('.js-password')
      if (password.type === 'password') {
        password.type = 'text'
        this.passwordVisibility = 'hide'
      } else {
        password.type = 'password'
        this.passwordVisibility = 'show'
      }
    }
  }
};
</script>

