<template>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-8/12 px-4">
      <CardUserSettings />
    </div>
    <div class="w-full lg:w-4/12 px-4">
      <CardProfile />
    </div>
  </div>
</template>
<script>
import CardUserSettings from "@/components/cards/CardUserSettings.vue";
import CardProfile from "@/components/cards/CardProfile.vue";

export default {
  components: {
    CardUserSettings,
    CardProfile
  }
};
</script>
