<template>
  <div class="rounded-t bg-white mb-4">
    <div class="flex justify-between">
      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Edit profile email address
      </h6>
      <button
        class="bg-emerald-500 text-white mb-4 mt-3 font-bold uppercase
                  text-xs px-4 rounded shadow mr-1"
        type="button"
        @click="editEmailAddress"
      >
        Confirm
      </button>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          Old email
        </label>
        <input
          v-model="editEmail.oldEmail"
          type="email"
          class="border-0 px-3 py-3 placeholder-blueGray-300
                    text-blueGray-600 bg-white rounded text-sm shadow
                    focus:outline-none focus:ring w-full ease-linear transition-all
                    duration-150"
          placeholder="Old email"
        >
        <a
          v-if="v$.editEmail.oldEmail.$error"
          class="text-center text-red-700 text-xs"
        >{{ v$.editEmail.oldEmail.$errors[0].$message }}</a>
      </div>
    </div>
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          New email
        </label>
        <input
          v-model="editEmail.newEmail"
          type="email"
          class="border-0 px-3 py-3 placeholder-blueGray-300
                    text-blueGray-600 bg-white rounded text-sm shadow
                    focus:outline-none focus:ring w-full ease-linear transition-all
                     duration-150"
          placeholder="New email"
        >
        <a
          v-if="v$.editEmail.newEmail.$error"
          class="text-center text-red-700 text-xs"
        >{{ v$.editEmail.newEmail.$errors[0].$message }}</a>
      </div>
    </div>
  </div>
</template>
<script>
import {email, required, sameAs} from "@vuelidate/validators";
import {makeEmailEditBody} from "@/components/cards/editUserUtils";
import useVuelidate from "@vuelidate/core";
import {put} from "@/composables/useAxios";
import {fireToast} from "@/composables/useToast";

export default {
  name: "EditEmail",
  emits: ['updateUserInfo'],
  setup: () => ({ v$: useVuelidate() }),
  data() {
    return {
      editEmail: {
        oldEmail: "",
        newEmail: ""
      }
    }
  },
  validations() {
    return {
      editEmail: {
        oldEmail: {
          required,
          email,
          sameAs: sameAs(localStorage.getItem("email"))
        },
        newEmail: {required, email}
      },
    }
  },
  mounted() {
    this.v$.$validate();
  },
  methods: {
    editEmailAddress: function () {
      this.v$.editEmail.$validate();
      if (!this.v$.editEmail.$error) {
        const reqBody = makeEmailEditBody(this.editEmail.newEmail);
        const email = localStorage.getItem("email");
        put(
            `/users/${email}`,
            reqBody
        )
            .then((res) => {
              if (res.status === 200) {
                localStorage.clear();
                localStorage.setItem("email", res.data.email);
                this.$emit('updateUserInfo', res);
              }
            })
            .catch((error) => {
              fireToast("error", error.response.data.error);
            });
        this.resetInputValues();
      }
    },
    resetInputValues: function () {
      this.editEmail.oldEmail = "";
      this.editEmail.newEmail = "";
    },
  }
}
</script>