<template>
  <div class="rounded-t bg-white mb-4">
    <div class="flex justify-between">
      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Edit profile name
      </h6>
      <button
        class="bg-emerald-500 text-white mb-4 mt-3 font-bold uppercase
               text-xs px-4 rounded shadow mr-1"
        type="button"
        @click="editProfileName"
      >
        Confirm
      </button>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          Old first name
        </label>
        <input
          v-model="editName.oldName"
          type="text"
          class="border-0 px-3 py-3 placeholder-blueGray-300
                 text-blueGray-600 bg-white rounded text-sm shadow
                 focus:outline-none focus:ring w-full ease-linear transition-all
                  duration-150"
          placeholder="Old first name"
        >
        <a
          v-if="v$.editName.oldName.$error"
          class="text-center text-red-700 text-xs"
        >{{ v$.editName.oldName.$errors[0].$message }}</a>
      </div>
    </div>
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          New first name
        </label>
        <input
          v-model="editName.newName"
          type="text"
          class="border-0 px-3 py-3 placeholder-blueGray-300
                 text-blueGray-600 bg-white rounded text-sm shadow
                 focus:outline-none focus:ring w-full ease-linear transition-all
                 duration-150"
          placeholder="New first name"
        >
        <a
          v-if="v$.editName.newName.$error"
          class="text-center text-red-700 text-xs"
        >{{ v$.editName.newName.$errors[0].$message }}</a>
      </div>
    </div>
  </div>
  <div class="rounded-t bg-white mb-4">
    <div class="flex justify-between">
      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Edit profile surname
      </h6>
      <button
        class="bg-emerald-500 text-white mb-4 mt-3 font-bold uppercase
              text-xs px-4 rounded shadow mr-1"
        type="button"
        @click="editProfileSurname"
      >
        Confirm
      </button>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          Old last name
        </label>
        <input
          v-model="editSurname.oldSurname"
          type="text"
          class="border-0 px-3 py-3 placeholder-blueGray-300
                text-blueGray-600 bg-white rounded text-sm shadow
                focus:outline-none focus:ring w-full ease-linear transition-all
                 duration-150"
          placeholder="Old last name"
        >
        <a
          v-if="v$.editSurname.oldSurname.$error"
          class="text-center text-red-700 text-xs"
        >{{ v$.editSurname.oldSurname.$errors[0].$message }}</a>
      </div>
    </div>
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          New last name
        </label>
        <input
          v-model="editSurname.newSurname"
          type="text"
          class="border-0 px-3 py-3 placeholder-blueGray-300
                text-blueGray-600 bg-white rounded text-sm shadow
                focus:outline-none focus:ring w-full ease-linear transition-all
                duration-150"
          placeholder="Old last name"
        >
        <a
          v-if="v$.editSurname.newSurname.$error"
          class="text-center text-red-700 text-xs"
        >{{ v$.editSurname.newSurname.$errors[0].$message }}</a>
      </div>
    </div>
  </div>
</template>
<script>
import {required, sameAs} from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import {makeEditNameReqBody, makeEditSurnameReqBody} from "@/components/cards/editUserUtils";
import {put} from "@/composables/useAxios";
import {fireToast} from "@/composables/useToast";

export default {
  name: "EditNameSurname",
  props: {
    name: {
      default: "",
      type: String
    },
    surname: {
      default: "",
      type: String
    }
  },
  emits: ['updateUserInfo'],
  setup: () => ({ v$: useVuelidate() }),
  data() {
    return {
      editName: {
        oldName: "",
        newName: ""
      },
      editSurname: {
        oldSurname: "",
        newSurname: ""
      }
    }
  },
  validations() {
    return {
      editName: {
        oldName: {
          required,
          sameAs: sameAs(this.name)
        },
        newName: {
          required
        }
      },
      editSurname: {
        oldSurname: {
          required,
          sameAs: sameAs(this.surname)
        },
        newSurname: {
          required
        }
      },
    }
  },
  mounted() {
    this.v$.$validate();
  },
  methods: {
    editProfileName: function () {
      this.v$.editName.$validate();
      if (!this.v$.editName.$error) {
        const reqBody = makeEditNameReqBody(this.editName.newName);
        this.makePutRequest(reqBody);
      }
    },
    editProfileSurname: function () {
      this.v$.editSurname.$validate();
      if (!this.v$.editSurname.$error) {
        const reqBody = makeEditSurnameReqBody(this.editSurname.newSurname);
        this.makePutRequest(reqBody);
      }
    },
    makePutRequest: function (reqBody) {
      const email = localStorage.getItem("email");
      put(
          `/users/${email}`,
          reqBody
      )
          .then((res) => {
            if (res.status === 200) {
              this.resetInputValues();
              this.$emit('updateUserInfo', res);
            }
          })
          .catch((error) => {
            fireToast("error", error.response.data.error);
          });
    },
    resetInputValues: function () {
      this.editName.oldName = "";
      this.editSurname.oldSurname = "";
      this.editSurname.newSurname = "";
      this.editName.newName = "";
    },
  }
}
</script>

<style scoped>

</style>