<template>
  <div class="rounded-t bg-white mb-4">
    <div class="flex justify-between">
      <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Edit profile password
      </h6>
      <button
        class="bg-emerald-500 text-white mb-4 mt-3 font-bold uppercase
               text-xs px-4 rounded shadow mr-1"
        type="button"
        @click="editProfilePassword"
      >
        Confirm
      </button>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          Old password
        </label>
        <div class="relative w-full">
          <div
            class="absolute inset-y-0 right-0 flex items-center px-2"
          >
            <label
              class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono
                  cursor-pointer"
              @click="oldPasswordToggle"
            >{{ oldPasswordVisibility }}</label>
          </div>
          <input
            v-model="editPassword.oldPassword"
            required
            autocomplete="old password"
            type="password"
            placeholder="Old password"
            class="border-0 px-3 py-3 placeholder-blueGray-300
                text-blueGray-600 bg-white rounded text-sm shadow
                focus:outline-none focus:ring w-full ease-linear transition-all
                 duration-150 js-old-password"
          >
        </div>
        <a
          v-if="v$.editPassword.oldPassword.$error"
          class="text-center text-red-700 text-xs"
        >{{ v$.editPassword.oldPassword.$errors[0].$message }}</a>
      </div>
    </div>
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          New password
        </label>
        <div class="relative w-full">
          <div
            class="absolute inset-y-0 right-0 flex items-center px-2"
          >
            <label
              class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono
                  cursor-pointer"
              @click="newPasswordToggle"
            >{{ newPasswordVisibility }}</label>
          </div>
          <input
            v-model="editPassword.newPassword"
            required
            type="password"
            autocomplete="new password"
            placeholder="New password"
            class="border-0 px-3 py-3 placeholder-blueGray-300
                text-blueGray-600 bg-white rounded text-sm shadow
                focus:outline-none focus:ring w-full ease-linear transition-all
                 duration-150 js-new-password"
          >
        </div>
        <a
          v-if="v$.editPassword.newPassword.$error"
          class="text-center text-red-700 text-xs"
        >{{ v$.editPassword.newPassword.$errors[0].$message }}</a>
      </div>
    </div>
  </div>
</template>
<script>
import useVuelidate from "@vuelidate/core";
import {minLength, required} from "@vuelidate/validators";
import bcrypt from "bcryptjs";
import {makeEditPasswordBody} from "@/components/cards/editUserUtils";
import {put} from "@/composables/useAxios";
import {fireToast} from "@/composables/useToast";

export default {
  name: "EditPassword",
  props: {
    password: {
      default: "",
      type: String
    }
  },
  emits: ['updateUserInfo'],
  setup: () => ({
    v$: useVuelidate(),
  }),
  data() {
    return {
      editPassword: {
        oldPassword: "",
        newPassword: ""
      },
      oldPasswordVisibility: "show",
      newPasswordVisibility: "show",
    }
  },
  validations() {
    return {
      editPassword: {
        oldPassword: { required },
        newPassword: { required, minLength: minLength(8) }
      }
    }
  },
  mounted() {
    this.v$.$validate();
  },
  methods: {
    async editProfilePassword() {
      this.v$.editPassword.$validate();
      if (
          !this.v$.editPassword.$error &&
          await bcrypt.compare(this.editPassword.oldPassword, this.password)
      ) {
        const reqBody = makeEditPasswordBody(this.editPassword.newPassword);
        const email = localStorage.getItem("email");
        put(
            `/users/${email}`,
            reqBody
        )
            .then((res) => {
              if (res.status === 200) {
                this.$emit('updateUserInfo', res);
              }
            })
            .catch((error) => {
              fireToast("error", error.response.data.error);
            });
        this.resetInputValues();
      } else await fireToast("error", "Wrong old password");
    },
    resetInputValues: function () {
      this.editPassword.oldPassword = "";
      this.editPassword.newPassword = "";
    },
    oldPasswordToggle: function () {
      const oldPassword = document.querySelector('.js-old-password')
      if (oldPassword.type === 'password') {
        oldPassword.type = 'text'
        this.oldPasswordVisibility = 'hide'
      } else {
        oldPassword.type = 'password'
        this.oldPasswordVisibility = 'show'
      }
    },
    newPasswordToggle: function () {
      const newPassword = document.querySelector('.js-new-password')
      if (newPassword.type === 'password') {
        newPassword.type = 'text'
        this.newPasswordVisibility = 'hide'
      } else {
        newPassword.type = 'password'
        this.newPasswordVisibility = 'show'
      }
    }
  },
}
</script>