<template>
  <a class="text-center text-red-700 text-xs">{{ dbErrors }}</a>
  <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
    User Information
  </h6>
  <div class="flex flex-wrap">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          Email address
        </label>
        <span
          class="border-0 px-3 py-3
                text-blueGray-600 bg-white rounded text-sm shadow w-full flex"
        >{{ email }}</span>
      </div>
    </div>
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          First Name
        </label>
        <span
          class="border-0 px-3 py-3
                text-blueGray-600 bg-white rounded text-sm shadow w-full flex"
        >{{ name }}</span>
      </div>
    </div>
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative w-full mb-3">
        <label
          class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
          htmlFor="grid-password"
        >
          Last Name
        </label>
        <span
          class="border-0 px-3 py-3
                text-blueGray-600 bg-white rounded text-sm shadow w-full flex"
        >{{ surname }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserInformation",
  props: {
    email: {
      default: "",
      type: String
    },
    name: {
      default: "",
      type: String
    },
    surname: {
      default: "",
      type: String
    },
  },
  data() {
    return {
      dbErrors: ""
    }
  }
}
</script>