<template lang="pug">
div(v-if="validationStatus.$error")
  p(
    class="text-sm text-rose-600 mb-9"
    v-for="$error in validationStatus.$errors"
    :key="$error.$property"
  ) {{ $error.$message }}
</template>

<script setup>
defineProps({
  validationStatus: {
    type: Object,
    required: true
  },
})
</script>