<template lang="pug">
TransitionRoot(as="template" :show="showModal")
  Dialog(as="div" class="relative z-10" @close="close")
    TransitionChild(
      as="template"
      enter="ease-out duration-300"
      enter-from="opacity-0"
      enter-to="opacity-100"
      leave="ease-in duration-200"
      leave-from="opacity-100"
      leave-to="opacity-0"
    )
      div(class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity")

    .fixed.z-10.inset-0.overflow-y-auto
      div(
        class=`flex items-end sm:items-center justify-center min-h-full p-4
               text-center sm:p-0`
        )
        TransitionChild(
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enter-to="opacity-100 translate-y-0 sm:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 sm:scale-100"
          leave-to="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        )
          DialogPanel(
            class=`relative bg-white rounded-lg text-left overflow-hidden
                   shadow-xl transform transition-all sm:my-8 sm:max-w-lg
                   sm:w-full`
          )
            div(class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4")
              div(class="sm:flex sm:items-start")
                slot(name="header-icon")
                div(class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left")
                  DialogTitle(
                    as="h3"
                    class="text-lg leading-6 font-medium text-gray-900"
                  )
                    slot(name="header")
                  div(class="mt-2")
                    slot(name="body")
            div(class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse")
              slot(name="footer")
</template>

<script setup>
import { ref } from "vue";
import { Dialog, DialogPanel, DialogTitle, TransitionChild, TransitionRoot } from "@headlessui/vue";

const open = ref(true)

defineProps({
  showModal: {
    type: Boolean,
    required: true
  }
})

const emit = defineEmits(["update:close-modal"])

const close = () => {emit("update:close-modal")}
</script>