<template lang="pug">
label(class="block uppercase text-xs font-bold") Repeat
select(
  @change="emitChange($event.target.value)"
)
  option(v-for="elem in options" :value="elem") {{ elem }}
</template>

<script setup>
defineProps({
  options: {
    type: Array,
    required: true
  }
})

const emit = defineEmits(["update:selectedOption"])

const emitChange = (selectedOption) => {
  emit("update:selectedOption", selectedOption)
}
</script>
