<template lang="pug">
router-link(
  v-slot="{ href, navigate, isActive }"
  :to="`${link}`"
)
  a(
    :href="href"
    class="text-xs uppercase py-3 font-bold block"
    :class="styleActiveLink(isActive)"
    @click="navigate"
  )
    i(
      :class="`fas ${icon} mr-2 text-sm ${styleActiveIcon(isActive)}`"
    )
    | {{ name }}
</template>

<script setup>
defineProps({
  link: {
    type: String,
    required: true
  },
  icon: {
    type: String,
    required: true
  },
  name: {
    type: String,
    required: true
  },
})

const styleActiveLink = (isActive) => {
  return isActive ? 'text-emerald-600' : 'text-black'
}

const styleActiveIcon = (isActive) => {
  return isActive ? 'opacity-75' : 'text-black'
}
</script>