<template lang="pug">
hr(class="my-4 md:min-w-full mb-1")
h6(class=`md:min-w-full text-sm uppercase font-bold block pt-1 pb-4
          no-underline`) {{ title }}
</template>
<script setup>
defineProps({
    title: {
      type: String,
      required: true
    },
  }
)
</script>