<template lang="pug">
div(class=`md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid
           border-blueGray-200`
)
  .flex.flex-wrap
    div(class="w-6/12")
      router-link(
        class=`md:block text-left md:pb-2 text-blueGray-600 mr-0
               inline-block whitespace-nowrap text-sm uppercase font-bold
               p-4 px-0`
        to="/dashboard"
      ) Smart Garden

    div(class="w-6/12 flex justify-end")
      button(
        type="button"
        class=`cursor-pointer text-black opacity-50 md:hidden px-3 py-1
               text-xl leading-none bg-transparent rounded border
               border-solid border-transparent`
        @click="onToggleCollapseBtn('hidden')"
      )
        i.fas.fa-times

SidebarLink(
  link="/dashboard/graphs"
  icon="fa-chart-line"
  name="Graphs"
)

SidebarTitle(title="Irrigation")
SidebarLink(
  link="/dashboard/managePlans"
  icon="fa-table"
  name="Manage plans"
)
SidebarLink(
  link="/dashboard/createPlan"
  icon="fa-edit"
  name="Create plan"
)

SidebarTitle(title="Settings")
SidebarLink(
  link="/dashboard/userSettings"
  icon="fa-tools"
  name="User settings"
)
SidebarLink(
  link="/dashboard/espSettings"
  icon="fa-microchip"
  name="Esp settings"
)
</template>

<script setup>
import SidebarLink from "@/components/sidebar/SidebarLink";
import SidebarTitle from "@/components/sidebar/SidebarTitle";

const emit = defineEmits(["update:toggleSidebar"])

const onToggleCollapseBtn = (collapsed) => {
  emit("update:toggleSidebar", collapsed)
}
</script>
